header {
	position: fixed;
	width: calc(100% - 4rem);
	background-image: var(--bg-header);
	background-size: cover;
	padding: .85rem 2rem;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: var(--mask);
	}
	n7h-header-app-branding, .controls {
		z-index: 2;
	}
}

.controls {
display: flex;
	align-items: center;
	& > * {
		margin-left: 1rem;
	}
}
