header {
	position: absolute;
	width: calc(100% - 4rem);
	background-image: var(--bg-header);
	background-size: cover;
	padding: .85rem 2rem;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: var(--mask);
	}
	n7h-header-app-branding, n7h-toggle-theme-widget {
		z-index: 2;
	}
}
