<mat-drawer-container class="">
	<mat-drawer mode="side" [opened]="!isSmallScreen">
		<h1>{{ "SETTINGS.SETTINGS" | translate }}</h1>
		<ul>
			<li>
				<a  matRipple
					routerLink="/settings/account"
					routerLinkActive="active">
					{{ "SETTINGS.ACCOUNT" | translate }}
				</a>
			</li>
			<li>
				<a  matRipple
					routerLink="/settings/notifications"
					routerLinkActive="active">
					{{ "SETTINGS.NOTIFICATIONS" | translate }}
				</a>
			</li>
			<li>
				<a  matRipple
					routerLink="/settings/preferences"
					routerLinkActive="active">
					{{ "SETTINGS.PREFERENCES" | translate }}
				</a>
			</li>
			<li>
				<a  matRipple
					routerLink="/settings/advanced"
					routerLinkActive="active">
					{{ "SETTINGS.ADVANCED" | translate }}
				</a>
			</li>
		</ul>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
