<main>
	<div class="welcoming">
		<img
			class="n7h-logo undraggable"
			src="../../../assets/vectors/enset-hall-h-only.svg"
			alt="{{ 'ENSET_HALL_LOGO' | translate }}"
		/>
		<h1>
			{{ 'AUTH.WELCOMING' | translate }}
		</h1>
	</div>
	<div class="google-auth">
		<n7h-continue-with-google-button></n7h-continue-with-google-button>
		<n7h-tos-and-pp-acceptance-disclaimer></n7h-tos-and-pp-acceptance-disclaimer>
	</div>
</main>
<footer>
	<n7h-change-language-widget></n7h-change-language-widget>
	<n7h-footer></n7h-footer>
	<n7h-toggle-theme-widget></n7h-toggle-theme-widget>
</footer>
