<n7h-section-nav>
	<ng-container *ngIf="club$ | async as club; else noClub">
		<n7h-club-header-card [club]="club" [tab]="tab" (tabChange)="onTabChanged($event)"></n7h-club-header-card>
		<n7h-club-about *ngIf="tab === 'about'" [club]="club"></n7h-club-about>
		<n7h-club-members *ngIf="tab === 'members'" [club]="club"></n7h-club-members>
		<n7h-club-activities *ngIf="tab === 'activities'" [club]="club"></n7h-club-activities>
		<n7h-club-posts *ngIf="tab === 'posts'" [club]="club"></n7h-club-posts>
		<n7h-club-requests *ngIf="tab === 'requests'" [club]="club"></n7h-club-requests>
	</ng-container>
	<ng-template #noClub>
		<div class="loading">
			<mat-spinner color="primary"></mat-spinner>
		</div>
	</ng-template>
</n7h-section-nav>
