<nb-card>
  <nb-card-header>
    <div class="d-flex">
      <img src="{{ club.logo }}" class="mr-2" height="70" width="70" />
      <div class="d-flex flex-column">
        <div>Associer un parrain</div>
        <div>
          <b>{{ club.name }}</b>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-group mb-3">
      <label for="email" class="label form-control-label"> Email </label>
      <input
        type="email"
        nbInput
        fullWidth
        id="email"
        placeholder="example@example.com"
        (input)="loadUsers($event.target.value)"
      />
    </div>
    <div *ngIf="users$ | async as users">
      <ngx-user-radio-button-card
        *ngFor="let user of users"
        (click)="selectUser(user)"
        [user]="user"
        [active]="godfather && user.id === godfather.id"
      ></ngx-user-radio-button-card>
      <div *ngIf="users.length === 0">
        <div class="text-center p-4">
          Aucun utilisateur ne correspond à cette adresse email
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      class="mr-2"
      (click)="submit()"
      [disabled]="godfather === null"
    >
      Associer
    </button>
    <button class="cancel" nbButton status="danger" (click)="cancel()">
      Annuler
    </button>
  </nb-card-footer>
</nb-card>
