<nb-card>
  <nb-card-header>
    <div class="d-flex">
      <img src="{{ club.logo }}" class="mr-2" height="70" width="70" />
      <div class="d-flex flex-column">
        <div>Associer un parrain</div>
        <div>
          <b>{{ club.name }}</b>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-choose-godfather (godfatherSelected)="selectUser($event)"></ngx-choose-godfather>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      status="primary"
      class="mr-2"
      (click)="submit()"
      [disabled]="godfather === null"
    >
      Associer
    </button>
    <button class="cancel" nbButton status="danger" (click)="cancel()">
      Annuler
    </button>
  </nb-card-footer>
</nb-card>
